body {
  overflow-x: hidden;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
