

.title {
    padding-top: 1em;
    margin-inline-start: 3em;
    color: rgb(0, 33, 83);
}

@media screen and (max-width: 1024px) {
    body .title {
        margin: auto;
        text-align: center;
    }
}

.divider {
    background-color: white;
    box-shadow: none;
}