
.project-page {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, #3a588a 0%, #252d53 100%);
}

.project-page-title {
    padding-top: 1em;
    margin-inline-start: 3em;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
    body .project-page-title {
        margin: auto;
        text-align: center;
    }
}

.divider {
    opacity: 0%;
    box-shadow: none;
}