
.project-page {
    background: linear-gradient(90deg, #3a588a 0%, #252d53 100%);
    height: 100%;
}

.project-page-title {
    padding-top: 1em;
    margin-inline-start: 3em;
    color: rgb(255, 255, 255);
}

.project-cont{
    height: 600px;
    width: 100%;
    margin-bottom: 2em;
}
.seminars-cont{
    height: 650px;
    width: 100%;

}

.project-carousel{
    margin-top: 25px;
}

.seminar-carousel{
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    body .project-page-title {
        margin: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px){
    .project-carousel{
        overflow: visible;
    }
    
    .seminar-carousel{
        overflow: visible;
    }
}