.about-cont{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 800px) {
    .about-first-right{
        flex-direction: column;
    }
    .about-second-left{
        flex-direction: column;
    }
  }

.about-first-right{
    display: flex;
    flex-direction: row;
    height: 50vh;
    border: solid 2px #000;
    background-color: #252d53
}

.about-text-cont{
    height: 50vh;
    width: 50vw;
}
.about-text{
    color: whitesmoke;
    text-align: center;
    margin-top: 3em;
    padding-right: 5em;
    padding-left: 5em;
}

#about-img-1{
    background-image: url("../../public/Media/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 50vw;
    border: solid #000 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-second-left{
    display: flex;
    flex-direction: row;
    height: 50vh;
    border: solid 2px #000;
    background-color: #5073b9
}

#about-img-2{
    background-image: url("../../public/Media/arduino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 50vh;
    border: solid #000 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
