
.main-footer {
    background-color: #1C0C3C;
    padding: 10px;
    color: #DAE4F2;
    text-align: center;
}

.main-footer img{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 330ms ease-in-out;
}

.main-footer h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    margin-top: 10px;
}

.navigation li:hover{
    opacity: 0.8;
}

.social_footer a svg{
    fill: #DAE4F2;
    margin-right: 1.5em;
    margin-top: 2em;
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.2s;
}

.main-footer #CSRL{ 
    width: 150px;
    height: 80px;
    transition: transform 330ms ease-in-out;
}

.main-footer #CSRL:hover{ 
    transform: scale(1.2);
}

.main-footer #HMU{
    width: 100px;
    height: 100px;
    transition: transform 330ms ease-in-out;
}

.main-footer #HMU:hover{
    transform: scale(1.2);
}

.footer_links a{
    text-decoration-line: none;
    color: #DAE4F2;
}


.footer_links li{
    margin-top: 1.4em;
    text-align: center;
}