
.Navbar{
    background: #1C0C3C;
    color: #DAE4F2;
}

.Navbar img{
    width: 250px;
    height: 100px;
    margin-right: 150px;
    /* margin-left: 39%; */
}

@media screen and (max-width: 500px) {
    body .Navbar img{
        margin: auto;
        /* Margin auto for mobiles so hamburger is visible */
    }
}