.Navbar {
    background-color: #1C0C3C;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link{
    display: flex;
    text-align: center;
    margin: 0 2em;
  }
  
  .HeaderLogo {
    max-width: 25%;
  }
  
  .img-tag #Logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-left: 150%;
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .social a svg{
    fill: #DAE4F2;
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.2s;

}

#facebook:hover{
    fill: #4267B2;
    transform: scale(1.2);
}
#youtube:hover{
    fill: #FF0000;
    transform: scale(1.2);
}
#instagram:hover{
    fill: #F77737;
    transform: scale(1.2);
}
#linkedin:hover{
    fill: #0A66C2;
    transform: scale(1.2);
}



 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .flags a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .flags a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .flags a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

    .HeaderLogo{
        max-width: 20%;
        max-height: 20%;
    }

    .img-tag #Logo{
        position:relative;
        max-width:100%;
        max-height:100%;
        margin-left: 2em;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 15em;
        margin-right: 3em;
        
      }

    .social a{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 3em;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        margin-left: 8em;
        font-size: large;
    }
    .flags a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    .HeaderLogo{
        max-width: 20%;
        max-height: 20%;
    }

    .img-tag #Logo{
        position:relative;
        max-width:100%;
        max-height:100%;
        margin-left: 2em;
    }

    .social {
        margin-left: 20em;
        justify-content: center;
    }
    .social a{
        display: flex;
        flex-direction: row;
        margin-right: 5em;
    }

    .nav-links{
        display: flex;
        justify-content: space-around;
        font-size: large;
        margin-left: 15em;
    }
    

    .flags a{
        display: flex;
        justify-content: space-around;
    }

 } 