 .news-carousel {
    margin-block-start: 5em;
    margin-block-end: 2em; 
}

.project-carousel {
    margin-block-start: 5em;
    margin-block-end: 2em;
}

.seminar-carousel {
    margin-block-start: 5em;
    padding-block-end: 2em;
}