@media screen and (max-width: 1024px) {
    .members-con {
        margin-left: auto;
        margin-right: auto;
    }
}

.members-con{
    height: 30em;
    width: 20em;
    background: whitesmoke;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out 0.2s;
}

.members-con:hover{
    transform: scale(1.05);
    background: #ffe;
}

#members-img{
    height: 13em;
    width: 13em;
    border-radius: 50%;
    margin-top: 1em;
}

.members-title{
    color: #000;
    margin-top: 1em;
    font-weight:500;
}

.members-desc{
    color: #000;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight:500;
}

.members-date{
    color: #000;
    font-size: 1.2em;
    opacity: 0.7;
    font-weight:400;
}

.members-role{
    color: #000;
    margin-top: 1.8em;
    font-size: 1.2em;
    font-weight:500;
    opacity: 0.7;
}