.member-grid{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.members-box-title{
    margin-top: 2em;
    margin-bottom: 2em;
}

.coordination-box-title{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.member-grid-members{
    margin-left: auto;
    margin-right: auto;
}