
.news-main{
    display: flex;
    justify-content: center;
    width: 100vh;
    height: 20vh;
    border: 1px solid #000;
}

.news-box{
    text-align: center;
    margin-top: 2em;
}

.news-title{
    font-size: 40px;
    margin-bottom: 1em;
}


.news-holder{
    margin-bottom: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.arrows{
    position: relative;
    border-radius: none;
    background:none;
    border: none;
    font-size: 60px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
    opacity: 0.5;
}




@keyframes arrow-right {
    0%   { left:0px;}
    25%  { left:2px;}
    50%  { left:4px;}
    75%  { left:6px;}
    100% { left:8px}
  }


  @keyframes arrow-left {
    0%   { left:0px;}
    25%  { left:-2px;}
    50%  { left:-4px;}
    75%  { left:-6px;}
    100% { left:-8px}
  }

#arrow_right{
    right:0.2em;
}

#arrow_left{
    right:-0.2em;
}

  #arrow_right:active{
    animation-name: arrow-right;
    animation-duration: 0.4s;
}

#arrow_left:active{
    animation-name: arrow-left;
    animation-duration: 0.4s;
}