
.card-news {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    body .card-news {
        margin-left: auto;
        margin-right: auto;
    }
}

.card-title {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

.card-date {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.753);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}