.seminar-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

@media screen and (max-width: 1024px) {
    body .seminar-card {
        margin-left: auto;
        margin-right: auto;
    }
}

.seminar-title {
    color: rgb(7, 92, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

.seminar-title {
    color: rgb(7, 92, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

.seminar-date {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.seminar-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.753);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}