.support-card{
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2em;
}

.support-card:first-of-type{
    margin-top: 2em;
}

.support-card:nth-of-type(3){
    margin-top: 2em;
}

@media (max-width: 1000px) {
    .support-card {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .support-a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .support-img {
        width: auto;
        max-width: 17em;
        height: 8em;
        margin-top: 1em;
    }
  
    .support-textarea {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em; 
    }

    @media (max-width: 600px) {
        .support-textarea {
            display: none;
        }

        .support-img{
            width: auto;
            height: auto; 
            transition: all .2s ease-in-out;
        }

        .support-img:hover{
            transform: scale(1.2);
        }
        .support-card{
            height: 120px;
            display: flex;
            background-color: transparent;
            border-radius: none;
            box-shadow: none;
            margin-bottom: 1em;
        }
    }
  }

.support-a{
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
}
.support-img{
    width: auto;
    height: 6em;
    margin-top: 1em;
}

.support-textarea{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}
